a {
    text-decoration: none;
}

.login {
    width: 350px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.loginWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.login:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}